fastapi
uvicorn
pydantic
instaloader
static-ffmpeg
python-multipart
numpy
opencv-python-headless
retina-face
google-genai
python-dotenv
firebase-admin
videohash
sqlalchemy
pymysql
cryptography
pillow
